<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<link rel="shortcut icon" href="../images/favicon.png" type="image/png">-->

  <title>Busqueda Positiva</title>

  <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
  <link rel="stylesheet" href="../lib/weather-icons/css/weather-icons.css">
  <link rel="stylesheet" href="../lib/jquery-toggles/toggles-full.css">

  <link rel="stylesheet" href="../css/quirk.css">

  <script src="../lib/modernizr/modernizr.js"></script>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="../lib/html5shiv/html5shiv.js"></script>
  <script src="../lib/respond/respond.src.js"></script>
  <![endif]-->
</head>

<body>

  <header>
    <div class="headerpanel">

      <div class="logopanel">
        <h2><a href="index.html">Busqueda positiva</a></h2>
      </div><!-- logopanel -->

      <div class="headerbar">

        <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>

        <div class="searchpanel">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Muscar medico...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
          </div><!-- input-group -->
        </div>

        
      </div><!-- headerbar -->
    </div><!-- header-->
  </header>

  <section>

    <div class="leftpanel">
      <div class="leftpanelinner">
        <div class="tab-content">
        </div><!-- tab-content -->

      </div><!-- leftpanelinner -->
    </div><!-- leftpanel -->

    <div class="mainpanel">

      <div class="contentpanel">

        <div class="row profile-wrapper">
          
          <div class="col-md-6 col-lg-8 profile-right">
            <div class="profile-right-body">
              <!-- Nav tabs -->
              

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="activity">

                  <div class="panel panel-post-item">
                    <div class="panel-heading">
                      <div class="media">
                        <div class="media-left">
                          <a href="chat.html">
                            <img alt="" src="../images/photos/profilepic.png" class="media-object img-circle">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">Julio Camacho</h4>
                          
                        </div>
                      </div><!-- media -->
                    </div><!-- panel-heading -->
                     <!-- ################### CONTACT LIST ################### -->
            
                      <div class="tab-pane" id="contactmenu">
                        <div class="input-group input-search-contact">
                          <input type="text" class="form-control" placeholder="Buscar contacto...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                          </span>
                        </div>
                        <h5 class="sidebar-title">Medicos</h5>
                        <ul class="media-list media-list-contacts">
                          <li class="media">
                            <a href="#">
                              <div class="media-left">
                                <img class="media-object img-circle" src="../images/photos/user1.png" alt="">
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading">Enrique tataje</h4>
                                <span><i class="fa fa-phone"></i> 386-752-1860</span>
                              </div>
                            </a>
                          </li>
                          <li class="media">
                            <a href="#">
                              <div class="media-left">
                                <img class="media-object img-circle" src="../images/photos/user2.png" alt="">
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading">Gloria M. Romero</h4>
                                <span><i class="fa fa-mobile"></i> 650-8281</span>
                              </div>
                            </a>
                          </li>
                          <li class="media">
                            <a href="#">
                              <div class="media-left">
                                <img class="media-object img-circle" src="../images/photos/user3.png" alt="">
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading">Jennie S. Ursula</h4>
                                <span><i class="fa fa-phone"></i> 310-757-8444</span>
                              </div>
                            </a>
                          </li>
                          <li class="media">
                            <a href="#">
                              <div class="media-left">
                                <img class="media-object img-circle" src="../images/photos/user4.png" alt="">
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading">Aliciaa J. Mavila</h4>
                                <span><i class="fa fa-mobile"></i> 386-0059</span>
                              </div>
                            </a>
                          </li>
                          <li class="media">
                            <a href="#">
                              <div class="media-left">
                                <img class="media-object img-circle" src="../images/photos/user5.png" alt="">
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading">Alicia German</h4>
                                <span><i class="fa fa-skype"></i> nicholas</span>
                              </div>
                            </a>
                          </li>
                          <li class="media">
                            <a href="#">
                              <div class="media-left">
                                <img class="media-object img-circle" src="../images/photos/user6.png" alt="">
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading">Mario Zegarra</h4>
                                <span><i class="fa fa-phone"></i> 225-270-2425</span>
                              </div>
                            </a>
                          </li>
                          <li class="media">
                            <a href="#">
                              <div class="media-left">
                                <img class="media-object img-circle" src="../images/photos/user7.png" alt="">
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading">Pamela J. Vaca</h4>
                                <span><i class="fa fa-mobile"></i> +1773-879-2491</span>
                              </div>
                            </a>
                          </li>
                          <li class="media">
                            <a href="#">
                              <div class="media-left">
                                <img class="media-object img-circle" src="../images/photos/user8.png" alt="">
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading">Refugio C. Burgess</h4>
                                <span><i class="fa fa-mobile"></i> +1660-627-7184</span>
                              </div>
                            </a>
                          </li>
                          
                        </ul>
                      </div><!-- tab-pane -->
                   
                  </div><!-- panel panel-post -->

              </div>
            </div>
          </div>
          
        </div><!-- row -->

    </div><!-- contentpanel -->
  </div><!-- mainpanel -->

</section>


<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/jquery-ui/jquery-ui.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../lib/jquery-toggles/toggles.js"></script>

<script src="../js/quirk.js"></script>

</body>
</html>
